---
import { profileConfig } from "../config";
import { url } from "../utils/url-utils";
const currentYear = new Date().getFullYear();
---

<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">2025 - {currentYear}</span> 
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://space.bilibili.com/325903362">
            {profileConfig.name}
        </a>，采用
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
            CC BY-NC-SA 4.0
        </a> 许可
        <br>
        由
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> 和
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a> 强力驱动
        <br>
        本网站代码
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/tang-6412/fuwari">已开源</a>
        <br>
        <a href="https://icp.gov.moe/?keyword=20258687" target="_blank">萌ICP备20266668号</a>
        <br>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a>

<span id="uptime-counter" class="text-[var(--primary)] font-medium text-sm text-50"></span>


    </div>
</div>
